.job-form-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-job-form-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumr-text {
  margin-top: -15px;
  font-size: 14px;
  color: grey;
}

.term-asdfds > p {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.career-opp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.apply-now-job-form-desc-main-left-card {
  width: 70%;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 4rem;
  padding: 30px;
  flex-direction: column;
  /* gap: 1rem; */
  overflow-y: scroll;
}

.apply-now-job-form-desc-main-left-card > ul {
  margin-left: 40px;
}
.apply-now-job-form-desc-main-left-card > ul > li {
  color: grey;
}
.apply-now-job-form-desc-main-left-card > ul > li > span {
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 1px;
}

.apply-now-job-form-desc-main-left-card > p > span {
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.resume-cover-letter-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-cover-letter-card > div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.email-input-fileds {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.email-input-fileds > span {
  font-size: 18px;
  width: 45%;
}
.email-input {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  /* border: 2px solid red; */
}

.form-error {
  color: red;
}

.email-input > input {
  width: 100%;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
}

.email-input > select {
  width: 100%;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
}

.email-input > p {
  font-size: 16px;
  font-weight: 400;
}

.password-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-input-card {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 40%;
}

.passowrd-input-btn-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.passowrd-input-btn-card > input {
  width: 75%;
  height: 40px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
}
.passowrd-input-btn-card > button {
  width: 15%;
  height: 37px;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid lightgrey;
}

.describ-password {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.describ-password > ul {
  font-size: 10px;
  margin-left: 10px;
}

.check-box-card {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.btn-card {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.btn-card > button {
  width: 180px;
  height: 40px;
  background-color: aqua;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
