.works {
  padding: 30px 60px;
  display: flex;
  /* height: 90vh; */
  margin-top: 4rem;
  width: 100%;
  /* scroll */
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
}
/* left side */
.awesome {
  position: relative;
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 2px solid red; */
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  color: #171a27;
}

.awesome > p {
  font-family: "Syne", sans-serif;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 1px;
}

.awesome-button-card {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  gap: 2rem;
}

.awesome-single-button-card {
  width: 150px;
  background-color: #ff6600;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  /* background-color: blue; */
}

.awesome-single-button-card > button {
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  background-color: transparent;
  color: #fff;
}
/*  */
/* right side */
.w-right {
  position: relative;
  width: 40%;
}

.w-mainCircle {
  left: 9rem;
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 100%;
  box-shadow: var(--smboxShadow);
  top: 2rem;
  background: white;
  /* darkMode */
  z-index: 2;
  cursor: pointer;
}
.w-mainCircle > * {
  position: absolute;
}
.w-mainCircle > :nth-child(1) {
  top: -3rem;
  left: 6rem;
}
.w-mainCircle > :nth-child(2) {
  left: -3rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(3) {
  left: 6rem;
  top: 5rem;
}

.w-mainCircle > :nth-child(3) > img {
  width: 150px;
}

.w-mainCircle > :nth-child(4) {
  left: 15rem;
  top: 5rem;
}
.w-mainCircle > :nth-child(5) {
  left: 6rem;
  top: 13rem;
}
.w-secCircle {
  width: 6rem;
  height: 6rem;
  position: absolute;
  border-radius: 100%;
  border: 5px solid #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  background: "none";
  /* box-shadow: var(--smboxShadow); */
  background: white;
}

.w-secCircle > img {
  transform: scale(0.6);
}

.w-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 100%;
  /* darkMode */
  z-index: 1;
}
.blueCircle {
  background: #1949b8;
  left: 18rem;
  top: 0rem;
}
.yellowCircle {
  background: #f5c32c;
  left: 18rem;
  top: 8rem;
}

.new-heading-style {
  width: fit-content;
  padding: 10px 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.new-heading-style > span {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #ff6600;
}

.second-about-right-side {
  width: 40%;
  height: 100%;
}

.second-about-right-side > img {
  width: 100%;
  height: 80%;
  border-radius: 20%;
}

@media screen and (max-width: 480px) {
  .works {
    flex-direction: column;
    height: fit-content;
    padding: 0;
    gap: 5rem;
    margin-top: 0px;
  }
  .awesome {
    width: 100%;
    padding: 30px;
  }

  .awesome-button-card {
    flex-direction: column;
    gap: 1rem;
  }
  .awesome-single-button-card {
    width: 50%;
  }
  .w-right {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    transform: scale(0.7);
    width: 100%;
  }
  .w-mainCircle {
    position: static;
  }
  .w-backCircle {
    left: 8rem !important;
  }
  .second-about-right-side {
    width: 100%;
    height: 50%;
    padding: 30px;
  }
}

.sabout-link-card {
  text-decoration: none;
}
