.detail-section-card {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  overflow: hidden;
}

.our-stories-second-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-heading {
  color: #ff6600;
  font-family: "Pacifico", cursive !important;
  font-size: 60px;
}
.services-para {
  font-style: normal;
  letter-spacing: 1px;
  font-size: 20px !important;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
  line-height: 26px;
  text-align: center;
  font-weight: normal !important;
}

.new-size {
  font-size: 40px;
  font-weight: 500;
}

.our-stories-second-card > h2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -1px;
}

.our-stories-second-card > p {
  font-style: normal;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
  line-height: 26px;
}

.our-stories-second-card > button {
  width: 120px;
  height: 40px;
  background-color: #ff6600;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.all-services-main-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #c7d3e4;
  padding: 30px 0px;
  /* border: 2px solid red; */
}

.new-quality {
  background-color: #c7d3e4;
}
.all-services-main-first-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.all-services-main-first-card > p {
  color: #ff6600;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 16px;
}

.all-services-main-first-card > h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.out-h2-sjsn {
  font-size: 18px;
}
.new-word {
  font-size: 28px;
}

.out-h2-sjsn > span {
  font-size: 40px;
}
.all-services-main-first-card > h1 {
  font-size: 45px;
  font-weight: bold;
  margin-top: 0;
}

.all-services-each-card {
  width: 90%;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
}

.services-each-single-card {
  width: 350px;
  height: 350px;
  /* border: 2px solid yellow; */
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 30px;
  position: relative;
  transition: all 1s ease;
  border-radius: 10px;
  overflow: hidden;
}
.services-each-single-card > h2 {
  position: relative;
  z-index: 2;
  color: #0c1a1a;
}

.services-each-single-card > p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: grey;
  text-align: center;
  position: relative;
  z-index: 2;
  /* color: #0c1a1a; */
}

.detail-service-link {
  width: 53%;
  text-decoration: none;
}

.all-services-each-card-button {
  width: 100%;
  background-color: #ff6600;
  padding: 10px 5px;
  height: 40px;
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
  z-index: 2;
}

.all-services-each-card-button > :nth-child(1) {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  z-index: 2;
}

.all-services-each-card-button > :nth-child(2) {
  /* background-color: black; */
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 38% 100%);
}

.services-each-single-card > span {
  position: absolute;
  top: -20px;
  left: 50%;
  translate: -50%;
  background-color: #ff6600;
  padding: 7px 15px;
  font-size: 20px;
  font-weight: bold;
  color: #ffff;
  width: 66px;
  z-index: 2;
  /* clip-path: polygon(0 0, 100% 0, 82% 100%, 0 100%); */
  clip-path: polygon(0 0, 100% 0, 68% 100%, 0 100%);
}

.services-each-single-card-image-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* opacity: 0.3; */
  /* display: none; */
  opacity: 0;
  transition: opacity 0.5s ease;
}

.services-each-single-card:hover .services-each-single-card-image-card {
  /* display: block; */
  opacity: 0.9;
}
.serv-h2 {
  color: black;
  transition: color 0.5s ease, top 0.5s ease, left 0.5s ease;
}

#service-psdfg {
  font-style: normal;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
  line-height: 20px;
  font-weight: normal !important;
  color: #0c1a1a !important;
}

.services-each-single-card:hover .serv-h2 {
  color: #fff !important;
  position: absolute;
  top: 20px;
  left: 20px;
}

.services-each-single-card:hover .serv-para {
  display: none;
}
.new-serv-link {
  transition: all 1s ease;
}

.services-each-single-card:hover .new-serv-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.services-each-single-card:hover .services-each-single-card > p {
  color: #fff;
}

@media (max-width: 768px) {
  .all-services-main-first-card {
    padding: 30px;
  }
}

.dont-let-your0project-main-card {
  width: 100%;
  display: flex;

  flex-direction: column;
  gap: 1rem;
  padding: 30px 60px;
  align-items: center;
}

.dont-let-your0project-main-card > h2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -1px;
}
.v-new {
  font-size: 40px;
}

.new-time-line-span {
  color: #ff6600;
  font-family: "Pacifico", cursive;
}

.dont-let-your-project-inner-card {
  width: 100%;
  display: flex;
  /* border: 2px solid red; */
  /* height: 500px; */
  height: fit-content;
}

.dont-let-your-project-left-main-card {
  width: 65%;
  display: flex;
  /* border: 2px solid yellow; */
}

.dont-let-your-project-left-first-card {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.bor {
  border-right: 1px solid grey;
  /* position: relative; */
}

.dont-let-your-project-left-first-card > h2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -1px;
}
.dont-let-your-project-left-second-card {
  width: 50%;
}

.single-dont-let-your-project {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 20px;
  align-items: flex-start;
  border-top: 1px solid lightgray;
  height: 200px;
}

.single-dont-let-your-project > :nth-child(1) {
  width: 150px;
}

.single-dont-let-your-project > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.single-dont-let-your-project > div > h4 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  letter-spacing: -1px;
}

.single-dont-let-your-project > div > p {
  font-style: normal;
  letter-spacing: 1px;
  font-size: 16px;
  /* text-align: justify; */
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
  line-height: 26px;
}

.dont-let-your-project-right-card {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dont-let-your-project-right-card > img {
  width: 80%;
}

.dont-technologies-main-card {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .all-services-each-card {
    width: 100%;
    /* border: 2px solid red; */
  }
  .services-each-single-card {
    width: 90%;
  }
}
