.detail-about-main-card {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-stories-first-card {
  background-color: #0c1a1a;
  padding: 30px 50px;
  width: 100%;
  padding-top: 60px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.our-stories-first-card-inner-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.our-stories-fisrt-card-our-story-text {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.our-stories-fisrt-card-our-story-text > span {
  width: 80px;
  height: 2px;
  background-color: #ff6600;
}

.our-stories-fisrt-card-our-story-text > h3 {
  color: #ff6600;
}

.our-stories-first-card-inner-card > h1 {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.our-stories-first-card-inner-card > p {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.our-stories-left-side-image-card {
  position: absolute;
  left: -40px;
  bottom: 30px;
  width: 300px;
  height: 300px;
}

.our-stories-left-side-image-card > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.our-story-left-side-dotted-card {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 3px dashed #fff;
  border-radius: 50%;

  width: 100%;
  height: 100%;
}

.our-story-left-side-dotted-first-big-dot {
  width: 20px;
  height: 20px;
  background-color: #ff6600;
  border-radius: 50%;
  position: absolute;
  right: 22px;
  top: 40px;
}

.our-stories-right-side-image-card {
  position: absolute;
  right: -40px;
  bottom: 70px;
  width: 280px;
  height: 440px;
  /* border: 2px solid red; */
  border-radius: 100px;
}

.our-stories-right-side-image-card > img {
  width: 100%;
  height: 100%;
  border-radius: 140px;
}

.our-stories-right-side-dotted-card {
  width: 100%;
  height: 100%;
  border: 2px dashed #ff6600;
  border-radius: 140px;
  position: absolute;
  right: -20px;
  top: 10px;
}

/* second card */
.detail-about-second-card {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 30px;
  position: relative;
  /* border: 2px solid red; */
  height: 400px;
}

.detail-about-second-card > h1 {
  width: fit-content;
  /* border-bottom: 3px solid #ff6600; */
}

.shero-span-color {
  color: #ff6600;
}

.detail-about-second-card > p {
  font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 18px;
  text-align: center;
}

.detail-about-second-card > button {
  width: 170px;
  height: 40px;
  background-color: #ff6600;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.detail-about-third-card {
  width: 100%;
  height: 550px;
  /* border: 2px solid red; */
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details-abput-third-card-left-side {
  width: 40%;
  position: relative;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.details-abput-third-card-left-side > img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
}
.details-abput-third-card-left-side > div {
  position: absolute;
  bottom: -70px;
  right: 0px;
  /* border: 2px solid red; */
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.details-abput-third-card-left-side > div > img {
  width: 100%;
  height: 100%;
}

/*  */

.details-abput-third-card-right-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  /* border: 2px solid red; */
}
.new-detail-about-third-card-m {
  margin-left: 60px;
}

.details-about-third-card-right-side-ornage-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #ff6600;
}

.details-about-third-card-right-side-ornage-container > span {
  width: 40px;
  height: 2px;
  background-color: #ff6600;
}

.details-abput-third-card-right-side > h1 {
  font-size: 37px;
  font-weight: bold;
  letter-spacing: 1px;
}

.details-abput-third-card-right-side > p {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

.detail-about-all-button {
  width: 150px;
  height: 40px;
  background-color: #ff6600;
  border: none;
  outline: none;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

/* .new-details-second-card-heiht {
  height: 90vh;
} */

@media (max-width: 768px) {
  .detail-about-main-card {
    gap: 2rem;
  }
  .detail-about-second-card {
    height: fit-content;
  }
  .detail-about-second-card > h1 {
    text-align: center;
    line-height: 30px;
  }
  .detail-about-third-card {
    flex-direction: column;
    height: fit-content;
    gap: 3rem;
  }
  .details-abput-third-card-right-side {
    width: 100%;
    padding: 40px;
  }
  .new-detail-about-third-card-m {
    margin-left: 0px;
  }
  .detail-about-second-card {
    height: fit-content;
    margin-top: 60px;
  }
}
