.third-section-main-card {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 30px 50px;
  overflow: hidden;
  background-color: #c7d3e4;

  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 2px solid red; */
}
.shero-span-color {
  color: #ff6600;
}
.new-fos {
  font-size: 36px;
  margin-left: 10px;
}

.third-section-main-left-card {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* line-height: 70px; */
  /* border: 2px solid red; */
}

.third-section-main-left-card > h1 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 46px;
}

.third-section-main-left-card > P {
  font-style: normal;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
  line-height: 26px;
}
/*  */
.third-section-main-right-card {
  width: 50%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.third-section-right-single-card {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  /* border: 2px solid yellow; */
}

.third-section-right-single-card > img {
  width: 70px;
}

.third-section-right-single-card > div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.third-section-right-single-card > div > h3 {
  color: #ff6600;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.third-section-right-single-card > div > span {
  font-style: normal;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: justify;
  font-family: "Poppins", sans-serif;
  /* font-weight: 500; */
  font-style: normal;
  line-height: 26px;
}

@media (max-width: 768px) {
  .third-section-main-card {
    flex-direction: column;
    gap: 2rem;
    height: fit-content;
    padding: 30px;
  }
  .third-section-main-left-card {
    width: 100%;
  }
  .third-section-main-left-card > h1 {
    font-size: 25px;
  }
  .third-section-main-left-card > p {
    text-align: justify;
  }
  .third-section-main-right-card {
    width: 100%;
    gap: 3rem;
  }
  .third-section-right-single-card {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .third-section-right-single-card > div > span {
    text-align: justify;
  }
  .new-fos {
    font-size: 36px;
  }
}
